canvas {
	width: 1000px;
}

#cards {
	display: flex;
	justify-content: center;
	width: 700px;
}
.card {
	text-align: center;
	background-color: grey;
	width: 100px;
	margin: 5px;
}
.card:hover {
	background-color: lightgray;
	cursor: pointer;
}

#lessonsDone {
	display: flex;
	justify-content: center;
	width: 700px;
}
.isdone {
	width: 100px;
	margin: 5px;
}
